%button
  display: inline-block
  margin: 1rem auto
  padding: 1rem 1.25rem
  font:
    size: .9rem
    weight: bold
  color: $light
  text-transform: uppercase
  background-color: $highlight
  +border-radius(.625rem)
  +transition($transition)

  &:hover
    +box-shadow(0 .25rem .625rem rgba($highlight, .35))
    +translate(0, -.25rem)
