<header class="navbar" role="banner">
  <a class="logo" href="{{ site.url }}">
    {% include svg/logo.svg %}
  </a>

  <nav class="menu" role="nav">
    <ul class="menu-list">
      <li class="menu-item"><a href="https://github.com/search?q=topic%3Acurso+org%3Aopenschoolbr&type=Repositories" class="menu-link">Cursos</a></li>
      <li class="menu-item"><a href="https://github.com/openschoolbr/sobre" class="menu-link">Sobre nós</a></li>
      <li class="menu-item"><a href="https://github.com/openschoolbr/forum" class="menu-link">Fórum</a></li>
    </ul>
  </nav>
</header>
