.menu
  text-align: center
  +justify-content(center)

.menu-list
  margin: 0
  padding: 0
  list-style: none
  @extend %inline-flex

.menu-item
  +transition(.3s all ease)

  @media (min-width: 31.25rem)
    &:hover
      +translate(0, -.25rem)

  &:not(:last-child)
    margin-right: 2rem

.menu-link
  padding-bottom: .5rem
  font-size: .9rem
  text-transform: uppercase
  +transition($transition)

  &:hover
    color: $highlight
