<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="Uma escola aberta, da comunidade, para a comunidade">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
